<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sidebar</title>
    <link rel="stylesheet" href="style/sidebar.css" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
  </head>
  <body>
    <nav>
      <div class="logo-name">
        <div class="logo-image">
          <!-- <img src="assets/homepageBeforeLogin/logoSinau.png" alt="Logo Sinau" /> -->
        </div>

        <span class="logo_name">Sinau</span>
      </div>

      <div class="menu-items">
        <ul class="nav-links">
          <li>
            <a href="#">
              <i class="uil uil-estate"></i>
              <span class="link-name">Beranda</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="uil uil-meeting-board"></i>
              <span class="link-name">Kelas</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="uil uil-swatchbook"></i>
              <span class="link-name">Tugas</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="uil uil-cog"></i>
              <span class="link-name">Bangun Ruang</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="uil uil-book-reader"></i>
              <span class="link-name">Guru</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </body>
</html>
