.box-judul {
  border: 2px solid var(--text-color);
  margin-top: 60px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.txt-judul-1 {
  font-size: 24px;
  font-weight: 700;
  color: var(--text-color);
}

.txt-judul-2 {
  font-size: 20px;
  font-weight: 500;
  color: var(--text-color);
}

.title-presensi-guru {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 24px;
  font-weight: 700;
}

.container-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}

.card-presensi {
  width: 400px;
  height: 330px;
  margin-top: 20px;
  border: 1px solid var(--border-color);
  overflow: hidden;
  border-radius: 20px;
}

.card-header-presensi {
  max-height: 200px;
}

.card-header-presensi img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body-presensi {
  padding: 10px;
  height: 130px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--box1-color);
}

.title-card {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color);
  line-height: 2rem;
}

.desc-card {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
  line-height: 2rem;
}

.btn-card {
  background-color: var(--primary-color);
  border-radius: 10px;
  color: var(--panel-color);
  padding: 10px;
  cursor: pointer;
}

.btn-card:hover {
  background-color: var(--box3-color);
}
