<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teacher</title>
    <link rel="stylesheet" href="style/teacher.css" />
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
  </head>
  <body>
    <%- include('../../partials/sidebar.ejs') %>
    <section class="dashboard">
      <!-- Navbar -->
      <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>

        <div class="top-right-side">
          <div class="mode">
            <div class="txt-dark">
              <i class="uil uil-brightness"></i>
            </div>
            <div class="mode-toggle">
              <span class="switch"></span>
            </div>
            <div class="txt-dark1">
              <i class="uil uil-moon"></i>
            </div>
          </div>
          <ul>
            <li class="dropdown">
              <div class="contain-profile">
                <img src="assets/teacher/user.png" alt="Profile" />
                <i class="uil uil-angle-down"></i>
              </div>
              <div class="dropdown-content">
                <a href="#"><i class="uil uil-user-circle"></i>Profile</a>
                <a href="#"><i class="uil uil-sign-out-alt"></i>Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- Navbar End -->

      <!-- Ubah Komponen Disini -->
      <div class="box-judul">
        <span class="txt-judul-1">Apa Kabar Hari ini?</span>
        <span class="txt-judul-2">Tetap semangat belajar dan selalu jaga kesehatan</span>
        <span class="txt-judul-2">#sinaudirumah</span>
      </div>
      <div class="card-founder">
        <div class="context-img">
          <img class="img-teacher" src="assets/teacher/user.png" alt="User" />
        </div>
        <div class="context-desc">
          <span class="name">Singgih Pratama</span>
          <div class="star">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
          </div>
          <span class="motto">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus omnis laudantium qui facere officiis quibusdam eligendi placeat possimus, reprehenderit asperiores."</span>
          <div class="social-media">
            <a href="#"><i class="uil uil-instagram-alt"></i></a>
            <a href="#"><i class="uil uil-linkedin"></i></a>
          </div>
        </div>
      </div>

      <div class="container-card-teacher">
        <div class="card-teacher">
          <div class="context-img">
            <img class="img-teacher" src="assets/teacher/user.png" alt="User" />
          </div>
          <div class="context-desc">
            <span class="name">Nama Pengajar</span>
            <div class="star">
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star-half"></i>
            </div>
            <span class="motto">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus omnis laudantium qui facere officiis quibusdam eligendi placeat possimus, reprehenderit asperiores."</span>
            <div class="social-media">
              <a href="#"><i class="uil uil-instagram-alt"></i></a>
              <a href="#"><i class="uil uil-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="card-teacher">
          <div class="context-img">
            <img class="img-teacher" src="assets/teacher/user.png" alt="User" />
          </div>
          <div class="context-desc">
            <span class="name">Nama Pengajar</span>
            <div class="star">
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bx-star"></i>
            </div>
            <span class="motto">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus omnis laudantium qui facere officiis quibusdam eligendi placeat possimus, reprehenderit asperiores."</span>
            <div class="social-media">
              <a href="#"><i class="uil uil-instagram-alt"></i></a>
              <a href="#"><i class="uil uil-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="card-teacher">
          <div class="context-img">
            <img class="img-teacher" src="assets/teacher/user.png" alt="User" />
          </div>
          <div class="context-desc">
            <span class="name">Nama Pengajar</span>
            <div class="star">
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bx-star"></i>
            </div>
            <span class="motto">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus omnis laudantium qui facere officiis quibusdam eligendi placeat possimus, reprehenderit asperiores."</span>
            <div class="social-media">
              <a href="#"><i class="uil uil-instagram-alt"></i></a>
              <a href="#"><i class="uil uil-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="card-teacher">
          <div class="context-img">
            <img class="img-teacher" src="assets/teacher/user.png" alt="User" />
          </div>
          <div class="context-desc">
            <span class="name">Nama Pengajar</span>
            <div class="star">
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bx-star"></i>
            </div>
            <span class="motto">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus omnis laudantium qui facere officiis quibusdam eligendi placeat possimus, reprehenderit asperiores."</span>
            <div class="social-media">
              <a href="#"><i class="uil uil-instagram-alt"></i></a>
              <a href="#"><i class="uil uil-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="js/sidebar.js"></script>
  </body>
</html>
