<div class="loginWrap">
    <div class="content1">
      <a href="/"><i class="fa-solid fa-arrow-left"></i></a>
      <div>
        <div>
          <a href="/">
          <p class="p">Beranda</p>
          </a>
        </div>
        <div class="sinauWrap">
          <p class="sinau">Sinau.</p>
          <p class="sinau2">Tetap Sinau,</p>
          <p class="sinau2">Terus Sinau,</p>
          <p class="sinau2">Sinau diRumah</p>
        </div>
        <img
          class="imgLogin"
          src="../../../assets/login/person.png"
          alt="tidak dapat memuat gambar"
        />
      </div>
    </div>
    <div class="content2">
      <div class="content2a">
        <p class="login">Login</p>
        <p class="login#">#sinaudarirumah</p>
      </div>
      <form action="" class="form" method="post">
        <label for="email">Email</label>
        <input
          class="input"
          type="email"
          placeholder="contoh: example@gmail.com"
          id="email"
          required
        />
        <label for="password" class="password">Password</label>
        <input
          class="input"
          type="password"
          id="id_password"
          placeholder="minimal 8 karakter"
          required
        />
        <i class="fa-solid fa-eye" id="togglePassword"></i>
        <button class="btnLogin">Login</button>
        <p class="formCaps">
          Belum memiliki akun?<a class="daftar">Daftar!</a>
        </p>
      </form>
    </div>
  </div>
  