<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="style/home.css" />
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
  </head>
  <body>
    <%- include('../../partials/sidebar.ejs') %>
    <section class="dashboard">
      <!-- Navbar -->
      <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>

        <div class="top-right-side">
          <div class="mode">
            <div class="txt-dark">
              <i class="uil uil-brightness"></i>
            </div>
            <div class="mode-toggle">
              <span class="switch"></span>
            </div>
            <div class="txt-dark1">
              <i class="uil uil-moon"></i>
            </div>
          </div>
          <ul>
            <li class="dropdown">
              <div class="contain-profile">
                <img src="assets/teacher/user.png" alt="Profile" />
                <i class="uil uil-angle-down"></i>
              </div>
              <div class="dropdown-content">
                <a href="#"><i class="uil uil-user-circle"></i>Profile</a>
                <a href="#"><i class="uil uil-sign-out-alt"></i>Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- Navbar End -->

      <!-- Ubah Komponen Disini -->
      <div class="box-judul">
        <span class="txt-judul-1">Apa Kabar Hari ini?</span>
        <span class="txt-judul-2">Tetap semangat belajar dan selalu jaga kesehatan</span>
        <span class="txt-judul-2">#sinaudirumah</span>
      </div>

      <div class="card-jadwal">
        <div class="card-header"><i class="bx bxs-home"></i><span>Jadwal Kelas Saya</span></div>
        <div class="card-body">
          <div class="container-card">
            <div class="name-teacher">
              <i class="bx bxs-user-badge"></i>
              <span>Nama Pengajar</span>
            </div>
            <div class="name-teacher">
              <i class="bx bxs-book"></i>
              <span>Sejarah</span>
            </div>
          </div>

          <div class="container-card">
            <div class="name-teacher">
              <i class="bx bxs-calendar-check"></i>
              <div class="list">
                <span>30 Maret 2022</span>
                <span>11.00 WIB</span>
              </div>
            </div>
            <div class="name-teacher">
              <i class="bx bx-chalkboard"></i>
              <a class="btn-in" href="materi">Masuk Kelas</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Ubah Komponen Smapai Disini -->
    </section>
    <script src="js/sidebar.js"></script>
  </body>
</html>
