<%- include('../../partials/sidebar.ejs') %>
<section class="dashboard">
  <!-- Navbar -->
  <div class="top">
    <i class="uil uil-bars sidebar-toggle"></i>

    <div class="top-right-side">
      <div class="mode">
        <div class="txt-dark">
          <i class="uil uil-brightness"></i>
        </div>
        <div class="mode-toggle">
          <span class="switch"></span>
        </div>
        <div class="txt-dark1">
          <i class="uil uil-moon"></i>
        </div>
      </div>
      <ul>
        <li class="dropdown">
          <div class="contain-profile">
            <img src="assets/teacher/user.png" alt="Profile" />
            <i class="uil uil-angle-down"></i>
          </div>
          <div class="dropdown-content">
            <a href="#"><i class="uil uil-user-circle"></i>Profile</a>
            <a href="#"><i class="uil uil-sign-out-alt"></i>Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- Navbar End -->

  <!-- Ubah Komponen Disini -->
  <div class="box-judul">
    <span class="txt-judul-1">Apa Kabar Hari ini?</span>
    <span class="txt-judul-2">Tetap semangat belajar dan selalu jaga kesehatan</span>
    <span class="txt-judul-2">#sinaudirumah</span>
  </div>
  <h1 class="title-presensi-guru">Mata Pelajaran</h1>
  <div class="container-card">
    <div class="card-presensi">
      <div class="card-header-presensi">
        <img src="assets/presensi/mosque.jpg" alt="Mosque" />
      </div>
      <div class="card-body-presensi">
        <span class="title-card">Agama Islam</span>
        <span class="desc-card">Kelas : 12</span>
        <a class="btn-card" href="presensi-table">Absensi</a>
      </div>
    </div>
    <div class="card-presensi">
      <div class="card-header-presensi">
        <img src="assets/presensi/history.jpg" alt="Mosque" />
      </div>
      <div class="card-body-presensi-1">
        <span class="title-card">Sejarah</span>
        <span class="desc-card">Kelas : 11</span>
        <a class="btn-card-1" href="presensi-table">Absensi</a>
      </div>
    </div>
  </div>
  <!-- Ubah Komponen sampai disini -->
</section>
<script src="js/sidebar.js"></script>
