<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Presensi Guru</title>
    <link rel="stylesheet" href="style/presensiguru.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
  </head>
  <body>
    <%- include('../../partials/sidebar.ejs') %>
    <section class="dashboard">
      <!-- Navbar -->
      <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>

        <div class="mode">
          <div class="txt-dark">
            <i class="uil uil-moon"></i>
            <span>Dark Mode</span>
          </div>
          <div class="mode-toggle">
            <span class="switch"></span>
          </div>
        </div>

        <div class="top-right-side">
          <ul>
            <li class="dropdown">
              <div class="contain-profile">
                <img src="assets/homepageAfterLogin/profile.jpeg" alt="Profile" />
                <i class="uil uil-angle-down"></i>
              </div>
              <div class="dropdown-content">
                <a href="#"><i class="uil uil-user-circle"></i>Profile</a>
                <a href="#"><i class="uil uil-sign-out-alt"></i>Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- Navbar End -->

      <!-- Ubah Komponen Disini -->
      <div class="box-judul">
        <span class="txt-judul-1">Apa Kabar Hari ini?</span>
        <span class="txt-judul-2">Tetap semangat belajar dan selalu jaga kesehatan</span>
        <span class="txt-judul-2">#sinaudirumah</span>
      </div>
      <h2 class="title-absen">Kelas : 12</h2>
      <h2 class="title-absen1">Mata Pelajaran : Agama Islam</h2>

      <form action="">
        <table id="table_id" class="display">
          <thead>
            <tr>
              <th>NIS</th>
              <th>Nama</th>
              <th>Presensi</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>34247321</td>
              <td>John Doe</td>
              <td><input type="radio" name="presensi" value="Hadir" /><span> Hadir</span> <input type="radio" name="presensi" value="Izin" /><span> Izin</span> <input type="radio" name="presensi" value="Alpha" /><span> Alpha</span></td>
            </tr>
          </tbody>
        </table>
        <div class="btn-presensi">
          <input type="submit" value="Submit" />
        </div>
      </form>
      <!-- Ubah Komponen sampai disini -->
    </section>
    <script src="js/sidebar.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
      $(document).ready(function () {
        $('#table_id').DataTable();
      });
    </script>
  </body>
</html>
