<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Materi</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="style/materi.css" />
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>
    <%- include('../../partials/sidebar.ejs') %>
    <section class="dashboard">
      <!-- Navbar -->
      <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>

        <div class="top-right-side">
          <div class="mode">
            <div class="txt-dark">
              <i class="uil uil-brightness"></i>
            </div>
            <div class="mode-toggle">
              <span class="switch"></span>
            </div>
            <div class="txt-dark1">
              <i class="uil uil-moon"></i>
            </div>
          </div>
          <ul>
            <li class="dropdown">
              <div class="contain-profile">
                <img src="assets/teacher/user.png" alt="Profile" />
                <i class="uil uil-angle-down"></i>
              </div>
              <div class="dropdown-content">
                <a href="#"><i class="uil uil-user-circle"></i>Profile</a>
                <a href="#"><i class="uil uil-sign-out-alt"></i>Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- Navbar End -->

      <!-- Ubah Komponen Disini -->
      <h2 class="title-materi">Materi: Sejarah</h2>
      <div class="swiper mySwiper2">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <iframe class="frame-video" src="https://www.youtube.com/embed/oewZQye8Mm8" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="swiper-slide">
            <iframe class="frame-video" src="https://www.youtube.com/embed/975TaoUZrFI" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="swiper-slide">
            <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
          </div>
          <div class="swiper-slide">
            <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
          </div>
          <div class="swiper-slide">
            <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
          </div>
          <div class="swiper-slide">
            <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
          </div>
          <div class="swiper-slide">
            <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
          </div>
          <div class="swiper-slide">
            <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
          </div>
          <div class="swiper-slide">
            <img src="https://swiperjs.com/demos/images/nature-9.jpg" />
          </div>
          <div class="swiper-slide">
            <img src="https://swiperjs.com/demos/images/nature-10.jpg" />
          </div>
        </div>
      </div>
      <div thumbsSlider="" class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="https://i.ytimg.com/vi/oewZQye8Mm8/maxresdefault.jpg" alt="Great Wall">
          </div>
          <div class="swiper-slide">
            <img src="https://i.ytimg.com/vi/975TaoUZrFI/maxresdefault.jpg" alt="Foto" />
          </div>
          <div class="swiper-slide">
            <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
          </div>
          <div class="swiper-slide">
            <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
          </div>
          <div class="swiper-slide">
            <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
          </div>
          <div class="swiper-slide">
            <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
          </div>
          <div class="swiper-slide">
            <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
          </div>
          <div class="swiper-slide">
            <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
          </div>
          <div class="swiper-slide">
            <img src="https://swiperjs.com/demos/images/nature-9.jpg" />
          </div>
          <div class="swiper-slide">
            <img src="https://swiperjs.com/demos/images/nature-10.jpg" />
          </div>
        </div>
      </div>

      <div class="video-desc">
        <span class="desc-materi">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim soluta dolore quaerat cupiditate nisi, ex harum culpa sequi odit et natus excepturi cum velit dignissimos id distinctio amet iste? Ad, molestiae repellat, exercitationem explicabo optio deserunt voluptas adipisci reiciendis saepe ab minima? Obcaecati ex odit impedit eos nostrum quibusdam rerum inventore culpa veritatis alias praesentium laborum, quis dolorum expedita tempore?</span>
      </div>
      <div class="container-file">
<div class="wrapper-file">
  <div class="align-file">
    <a class="link-materi" href="#"><i class='bx bxs-file'></i> Unduh Materi PPT</a>
  </div>
  <div class="align-file">
   <a class="link-materi" href="#"><i class='bx bxs-file-pdf'></i> Unduh Materi PDF</a>
  </div>
</div>
<div class="wrapper-file">
<div class="align-file">
   <a class="link-materi" href="#"><i class='bx bx-link-alt'></i> Link Referensi Bacaan</a>
  </div>
  <div class="align-file">
   <a class="link-materi" href="#"><i class='bx bxs-cloud-upload'></i></i> Upload Tugas</a>
  </div>
</div>
      </div>
      <!-- Ubah Komponen Sampai Disini -->
    </section>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
      var swiper = new Swiper('.mySwiper', {
        spaceBetween: 10,
        slidesPerView: 4,
        freeMode: true,
        watchSlidesProgress: true,
      });
      var swiper2 = new Swiper('.mySwiper2', {
        spaceBetween: 10,
        thumbs: {
          swiper: swiper,
        },
      });
    </script>
    <script src="js/sidebar.js"></script>
  </body>
</html>
